html[dark], [dark] {
    --yt-spec-base-background: #181818 !important;
}

/* Comment Avatars */
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer,
#author-thumbnail.ytd-comment-simplebox-renderer,
#author-thumbnail.ytd-commentbox {
    width: 48px;
    height: 48px;
    border-radius: 30%;
}

#author-thumbnail.ytd-comment-simplebox-renderer img,
#author-thumbnail.ytd-commentbox img {
    width: 100%;
    height: 100%;
}

#comments #simple-box {
    min-height: 80px;
}

#pinned-comment-badge.ytd-comment-renderer {
    margin-top: -28px;
}

.super-title.ytd-video-primary-info-renderer a {
    font-weight: 1000;
    padding: 0 5px 5px 5px;
}

#dismissed.ytd-compact-video-renderer {
    border: 2px solid #202020;
    border-radius: 10px;
}

.ytd-watch-next-secondary-results-renderer .ytd-thumbnail img,
.playlist-items img {
    transition: scale 300ms;
}

.ytd-watch-next-secondary-results-renderer .ytd-thumbnail img:hover,
.playlist-items img:hover {
    scale: 1.2
}

/* Chat mentions */
.mention.yt-live-chat-text-message-renderer {
    background: inherit !important;
    color: inherit !important;
    padding: inherit !important;
    border-radius: inherit !important;
}

#guide-wrapper {
    border-right: 1px solid var(--yt-spec-10-percent-layer);
}

ytd-thumbnail.ytd-rich-grid-media::before {
    background-color: transparent;
}

yt-live-chat-message-input-renderer {
    background-color: transparent;
}

yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"], yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"], yt-chip-cloud-chip-renderer[chip-style="STYLE_REFRESH_TO_NOVEL_CHIP"] {
    border: none;
}

ytd-metadata-row-header-renderer[has-divider-line] {
    margin-top: 0;
    border-top: none;
}

#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    position: absolute;
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    top: 0;
}

ytd-mini-guide-renderer, ytd-mini-guide-entry-renderer {
    background-color: transparent;
}

body {
    overflow-x: hidden;
}

#masthead, #guide-content.ytd-app, ytd-mini-guide-entry-renderer[background-color-update] {
    background-color: #181818;
}

#content {
    --ytd-masthead-height: 45px !important;
    --app-drawer-width: 240px !important;
}

#masthead > #container {
    height: 45px;
}

#center {
    margin: auto;
}

#guide {
    top: 45px;
}

ytd-mini-guide-renderer.ytd-app {
    top: var(--ytd-masthead-height, 45px);
}

#page-manager.ytd-app {
    --ytd-toolbar-offset: var(--ytd-masthead-height, 45px) !important;
}

#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer {
    margin-right: 8px;
}

#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer:hover {
    transform: translateY(-5px);
    transition-duration: 200ms;
}

ytd-two-column-browse-results-renderer.style-scope {
    width: 92% !important;
}

ytd-two-column-browse-results-renderer.grid:not(.grid-disabled) {
    max-width: none;
    margin-top: -20px;
}

yt-img-shadow.ytd-topbar-menu-button-renderer {
    width: 26px;
    height: 26px;
}

#end.ytd-masthead {
    min-width: auto;
}

ytd-guide-section-renderer {
    width: 90%;
    margin: auto;
}

paper-item.ytd-guide-entry-renderer {
    padding: 0 14px;
}

.title.ytd-guide-entry-renderer {
    text-overflow: clip;
    margin-right: 0;
}

ytd-guide-entry-renderer[active] {
    background-color: transparent;
}

#contentContainer.app-drawer,
#contentContainer.tp-yt-app-drawer {
    padding-top: 0;
}

.guide-icon.ytd-guide-entry-renderer, yt-img-shadow.ytd-guide-entry-renderer {
    margin-right: 20px;
}

#movie_player {
    border-radius: 15px;
    box-shadow: 5px 5px 10px #0005, -5px -5px 10px #0005;
}

.ytp-chrome-controls {
    margin: 0 12px;
}

ytd-expander {
    --ytd-expander-collapsed-height: auto !important;
}

ytd-video-secondary-info-renderer {
    border-bottom: none;
}

/* Video progress bar */
.ytp-progress-list {
    background-color: transparent;
}

.ytp-load-progress {
    background-color: rgba(255, 255, 255, .2)
}

.ytp-swatch-background-color {
    /* background: linear-gradient(to left,#ff0000, #ff8900, #d800ff, #ff8900, #ff0000); */
    background: linear-gradient(70deg, #F00, #C000FF, #f00);
    background-size: 400%;
    animation: Gradient 10s ease infinite;
}


/* Playlist */

#playlist {
    border: 2px solid #242424;
    border-radius: 15px;
    padding: 5px;
}

#playlist .header {
    background-color: transparent;
}

#playlist #end-actions {
    align-self: center;
}

ytd-menu-renderer ytd-menu-renderer .ytd-menu-renderer[style-target="button"], .ytd-menu-renderer[style-target="button"] {
    width: auto;
    height: auto;
}

ytd-playlist-panel-video-renderer.ytd-playlist-panel-renderer:first-of-type {
    padding-top: 4px;
}

.title.ytd-playlist-panel-renderer a {
    color: #FFF !important;
}

#publisher-container * {
    color: #AAA !important;
}

/* Like & dislike buttons */
#top-level-buttons > :nth-child(1).style-default-active {
    color: #0C0;
}

#top-level-buttons > :nth-child(2).style-default-active {
    color: #C00;
}

#like-bar {
    width: auto !important;
    background: linear-gradient(to right, #0C0 90%, #C00) !important;
}

#sentiment > #container {
    background: #C00;
}

#info #top-level-buttons > :nth-child(4) {
    line-height: 2.6;
}

#search-form > #container {
    border: none;
    text-align: center;
}

#search-form.ytd-searchbox {
    max-width: 440px;
    border: 1px solid white;
    border-radius: 20px;
    max-height: 23px;
}

#container.ytd-searchbox {
    background: transparent;
}

#container.ytd-video-secondary-info-renderer {
    padding-bottom: 20px;
}

#playlist > #container {
    border: none;
}

.ytd-search #avatar {
    box-shadow: none;
}

#avatar {
    box-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
    border-radius: 0 !important;
}

.ytp-settings-button svg {
    animation: Spin 5s linear infinite;
}

.ytp-chrome-top .ytp-button, .ytp-chrome-controls .ytp-button, .ytp-replay-button {
    opacity: 1;
}

.ytd-watch-next-secondary-results-renderer #dismissable:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    transition-duration: .5s;
}

#player {
    transform: scale3d(1, 1, 1);
    transition-duration: 1s; 
}

@keyframes Gradient {
    0%{ background-position: 0% 50% }
    50%{ background-position: 100% 50% }
    100%{ background-position: 0% 50% }
}

@keyframes Spin {
    100% {
        transform: rotate(360deg);
    }
}

ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy, ytd-watch-flexy[fullscreen] #player-theater-container.ytd-watch-flexy {
    background-color: transparent;
}

/* Chat toggle button */
#show-hide-button.ytd-live-chat-frame > ytd-toggle-button-renderer.ytd-live-chat-frame {
    background-color: transparent;
}

.guide-icon.ytd-mini-guide-entry-renderer {
    margin-bottom: 0;
}

/* Mini guide text */
.title.ytd-mini-guide-entry-renderer,
/* Like/Dislike bar */
#sentiment,
/* Useless buttons in left guide */
#guide-renderer > #sections > :nth-child(n + 3),
/* Right section of top bar  */
#end,
/* Right section of top bar (with user icon) */
/* #end > #buttons > :nth-child(-n + 2), */
/* YouTube Logo */
#logo,
#alerts,
#guide-section-title,
#newness-dot,
/* "Save" to playlist text */
#top-level-buttons-computed > :nth-child(4) #text,
.ytp-chrome-top-buttons,
.ytp-clip-start,
.ytp-hover-progress,
.ytd-notification-topbar-button-renderer,
.ytp-scrubber-button,
ytd-button-renderer.ytd-menu-renderer:nth-child(3),
ytd-menu-renderer.ytd-video-primary-info-renderer > yt-icon-button:nth-child(2),
#guide #items > ytd-guide-entry-renderer:nth-child(3),
#guide-content > #header,
#footer,
#country-code,
#upnext,
#notification-preference-button,
#search-icon-legacy,
.ytd-video-secondary-info-renderer > #more,
#voice-search-button,
#guide-spacer,
/* Learn More */
#dismissed #buttons :nth-child(2)
{
    display: none !important;
}
